* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Image Gallery */

.picbox {
  display: block; 
  margin: 0.5em;
}

figure {
  margin: 0;
  position: relative;
  box-sizing: border-box;

}

figure img {
  width: 100%;
  
}

figcaption {
  font-size: 0.85em;
  line-height: 1.5;
  color: #fff;
  background: rgba(19,43,102, .50);
  bottom: 0;
  position: absolute;
  width: 96%;
  padding: 0.6em;
  margin-left: 5px;
  margin-bottom: 12px;
      
}

img.frame {
  padding: 4px;
  border: 1px solid #ccc;
  box-shadow: 1px 3px 3px #ddd;
}

/* Media Queries */

@media (min-width: 500px) {
  .picbox {
    width: 45%;
    display: inline-block;      
  }
}

@media (min-width: 769px) {
  .picbox {
    width: 30%;
    display: inline-block;
  }
}
